## **Prayag Verma**
#### `Linkedin` â†’ https://www.linkedin.com/in/prayagv/
#### ***The University Of Texas at Dallas***

#### ***MIS 6382 Object Oriented Programming In Python***

#### **`   Project â†’  ðŸš— Car Auction Data Analysis   `**
> ### **Introduction**

**Dataset file:** Carpkl638250104.dat

**Data Types:**
   - Temporal: date (datetime)
   - Categorical: model, company, type (Electric/non-Electric)
   
**Numerical:**
   - Discrete: rating (1-5 scale)
   - Continuous: price (USD), mileage

**Identifier:** unique_id

Firstly, we set up our development environment by installing the go to Python libraries as follows:
- **pandas:** For data manipulation and analysis, providing DataFrame structures
- **numpy:** For complex numerical computations and array operations
- **matplotlib:** Our main library for creating static visualizations and plots
- Finaly, **seaborn:** built on top of matplotlib, for statistical graphics

These packages are the foundation and required for our data analysis and must be installed before we can proceed with any analysis.

In [ ]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn

Now, let's import our required libraries with some standard aliases:
- **pandas** as **pd**: For structured data operations
- **numpy** as **np**: For numerical computations
- **matplotlib.pyplot** as **plt**: For creating visualizations
- **seaborn** as **sns**: For statistical visualizations
- **pickle**: To handle the given **.dat** file, serialized python objects
- **datetime**: For working with dates and times

Using these standard aliases (pd, np, plt, sns) for Python best practices, more readable, and consistency across our differnt cells.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from datetime import datetime

**Next,** let's define our **object-oriented structure** for handling car data. We create a **base Car** class with essential attributes (date, model, company, type, rating, price, and mileage.) and then extend it to create specialized classes for different car types (**ElectricCar**, **NonElectricCar**) and manufacturers (Tesla, Ford, BMW).

In [ ]:
class Car:
    def __init__(self, date, model, company, type, rating, price, mileage):
        self.date = date
        self.model = model
        self.company = company
        self.type = type
        self.rating = rating
        self.price = price
        self.mileage = mileage
        self.unique_id = id(self)

    def __str__(self):
        return f"{self.unique_id},{self.date},{self.model},{self.company},{self.type},{self.rating},{self.price},{self.mileage}"

class ElectricCar(Car):
    def __init__(self, date, model, company, rating, price, mileage):
        super().__init__(date, model, company, "Electric", rating, price, mileage)

class NonElectricCar(Car):
    def __init__(self, date, model, company, rating, price, mileage):
        super().__init__(date, model, company, "non-Electric", rating, price, mileage)

class Tesla(ElectricCar):
    def __init__(self, date, model, rating, price, mileage):
        super().__init__(date, model, "Tesla", rating, price, mileage)

class Ford(NonElectricCar):
    def __init__(self, date, model, rating, price, mileage):
        super().__init__(date, model, "Ford", rating, price, mileage)

class BMW(NonElectricCar):
    def __init__(self, date, model, rating, price, mileage):
        super().__init__(date, model, "BMW", rating, price, mileage)

Now, creating **load_and_process_data** function handles our data. It reads a **pickle file** containing car objects, converts it to **CSV** format, and then loads it into a **pandas DataFrame**.

Next, we are also pefroming some basic data cleaning by handling missing values and converting data types appropriately, and print the summary of our processed data, including total records and any missing values.

In [ ]:
def load_and_process_data(dat_file_path):
    # Loading pickle file
    with open(dat_file_path, 'rb') as f:
        objects = pickle.load(f)

    # Create CSV file
    with open('car_data.csv', 'w') as f:
        f.write("unique_id,date,model,company,type,rating,price,mileage\n")
        for obj in objects:
            f.write(str(obj) + '\n')

    # CSV File into a DataFrame df
    df = pd.read_csv('car_data.csv')

    # Handling the missing and invalid values before type conversion, and replacing NaN values in rating with the mode (most common value)
    df['rating'] = df['rating'].fillna(df['rating'].mode()[0])

    # Converting the data types after handling NaN values
    df['price'] = pd.to_numeric(df['price'], errors='coerce').fillna(df['price'].median())
    df['mileage'] = pd.to_numeric(df['mileage'], errors='coerce').fillna(df['mileage'].median())
    df['rating'] = pd.to_numeric(df['rating'], errors='coerce').fillna(df['rating'].mode()[0]).astype(int)
    df['date'] = pd.to_datetime(df['date'], errors='coerce')

    # Printing the summary of the data
    print("\nData Summary:")
    print(f"Total records: {len(df)}")
    print("\nMissing values after processing:")
    print(df.isnull().sum())

    return df

**Test the data loading**

In [ ]:
print("Data Loading and processing...")
df = load_and_process_data('/content/Carpkl638250104.dat')

Next, so far we have handled the pickle file, converted into .csv, and have also performed some basic data cleaning part as well.

Therefore, now let's analyze missing values in our dataset and handle them using some methods like **mode** for ratings (most common value), **median** for prices, and **mean** for mileage.

In [ ]:
# Data Cleaning
print("\n# Data Overview and Cleaning")
print("\n## Missing Values Analysis:")
print(df.isnull().sum())

# Handle missing values
df = df.copy()
df['rating'] = df['rating'].fillna(df['rating'].mode()[0])
df['price'] = df['price'].fillna(df['price'].median())
df['mileage'] = df['mileage'].fillna(df['mileage'].mean())

Let's verifying that all missing values have properly been handled.

In [ ]:
print("\n## Missing Values After Cleaning:")
print(df.isnull().sum())

We can see **399 records** as missing value of date column, thefore, let's handle missing dates in our car dataset to ensure no missing dates are presents:

Let's use the median date imputation against the outliers by:
  1. Converting date strings to datetime format
  2. Finding the median date
  3. Filling missing values with the median

In [ ]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

median_date = df['date'].median()

df['date'] = df['date'].fillna(median_date)

We are now verifying that all missing values have properly been handled to ensure our data accuricy and quality.

In [ ]:
print("\n## Missing Values After Cleaning:")
print(df.isnull().sum())

After cleaning and processing our data, next handling data storage/saving in two formats:
1. **CSV** format ('**cleaned_car_data.csv**'):
   - Creating a human-readable spreadsheet format
   - Ideal for sharing data with non-technical team members

2. **Pickle** format ('**cleaned_car_data.pkl**'):
   - Storing Python objects with their data types and structures
   - Maintaining data integrity for future Python analysis

Exporting in two format to ensure our cleaned data is both accessible and reusable for different purposes.

In [ ]:
df.to_csv('cleaned_car_data.csv', index=False)
print("\nCleaned data has been saved to 'cleaned_car_data.csv'")

df.to_pickle('cleaned_car_data.pkl')
print("Cleaned data has also been saved to 'cleaned_car_data.pkl'")

Cleaned data has been saved to 'cleaned_car_data.csv'
Cleaned data has also been saved to 'cleaned_car_data.pkl'

### Now that, we're done with data loading, converting into csv, basic cleaning, handing outliers, and preserving the final files in two different format. Let's, create the visualizations to analyze different aspects of our car data using the following:

- **Bar chart:** Showing average car prices by company
- **Box plot:** Displaying price distribution across companies
- **Line plot:** Tracking price trends over time
- **Scatter plot:** Examining relationship between price and mileage
- **Heatmap:** Visualizing relationships between companies, car types, and ratings
- **Histogram:** Showing the distribution of car prices
- **Pie chart:** Illustrating market share by company

**Additinally,** we're also saving the each visualization as a PNG file for later use in reports or presentations.

# **`Bar Chart`**

In [ ]:
plt.figure(figsize=(10, 6))

avg_price_by_company = df.groupby('company')['price'].mean().sort_values(ascending=False)
avg_price_by_company.plot(kind='bar')
plt.title('Average Car Price by Company')
plt.xlabel('Company')
plt.ylabel('Average Price ($)')
plt.xticks(rotation=45)
plt.tight_layout()
plt.savefig('bar_chart.png')

plt.show()

The above bar Chart (Average Price by Company), all three companies shows similar average prices around **$11,000-$12,000**, with a minor variation between them. This suggests competitive pricing strategies despite different market positioning.

# **`Box Plot`**

In [ ]:
plt.figure(figsize=(10, 6))

sns.boxplot(x='company', y='price', data=df)
plt.title('Price Distribution by Company')
plt.xlabel('Company')
plt.ylabel('Price ($)')
plt.xticks(rotation=45)
plt.tight_layout()
plt.savefig('box_plot.png')

plt.show()

it shows, similar median prices USD 11,000 across companies with comparable price ranges USD 2500 - USD 20,000. All companies show some high-end outliers near $20,000, indicating premium models across all brands.

# **`Line Plot`**

In [ ]:
plt.figure(figsize=(12, 6))

monthly_prices = df.groupby(df['date'].dt.to_period('M'))['price'].mean()
monthly_prices.plot(kind='line', marker='o')
plt.title('Average Car Price Trend Over Time')
plt.xlabel('Month')
plt.ylabel('Average Price ($)')
plt.grid(True)
plt.tight_layout()
plt.savefig('line_plot.png')

plt.show()

Based out the line chart, we can observe that the Prices started around USD 11, 500 in January, hit a summer peak in July, took a dip in September which could probaly be due to end of model year sales maybe, and then raised up back in December to about USD 13,000.

# **`Scatter Plot`**

In [ ]:
plt.figure(figsize=(10, 6))

sns.scatterplot(data=df, x='mileage', y='price', hue='company', alpha=0.6)
plt.title('Price vs Mileage by Company')
plt.xlabel('Mileage')
plt.ylabel('Price ($)')
plt.tight_layout()
plt.savefig('scatter_plot.png')
plt.show()

The scatter plot shows no strong correlation between price and mileage across all companies. Points are fairly equally distributed between **USD 2500** - **USD 20, 000** and **60, 000** - **100, 000** miles.

All three manufacturers shows similar price mileage distributiions, speculating that the mileasge is infuluencing the pricing significantly.

# **`Histogram`**

In [ ]:
# Set figure size
plt.figure(figsize=(12, 6))

# Create histogram
frequency, price_ranges, bars = plt.hist(df['price'],
                                       bins=20,
                                       edgecolor='black',
                                       rwidth=0.8)

# Add car model labels for each price range
for price_index in range(len(price_ranges)-1):
    price_min = price_ranges[price_index]
    price_max = price_ranges[price_index+1]
    cars_in_range = df[(df['price'] >= price_min) & (df['price'] < price_max)]

    car_descriptions = cars_in_range.apply(
        lambda car: f"{car['company']} - {car['model']}",
        axis=1
    ).unique()

    if len(car_descriptions) > 0:
        price_center = (price_min + price_max)/2
        car_label = car_descriptions[0] if len(car_descriptions) == 1 else f"{car_descriptions[0]}\n{car_descriptions[1]}"

        plt.text(price_center,
                frequency[price_index],
                car_label,
                ha='center',
                va='bottom',
                rotation=90,
                fontsize=8)

plt.title('Car Price Distribution')
plt.xlabel('Price ($)')
plt.ylabel('Frequency')
plt.tight_layout()
plt.savefig('histogram_plot.png')
plt.show()

Looking at the price histogram, it tells that most cars revolves around $10,000 - including popular models like the Tesla Model Z and Ford F150s. wherease, some luxury cars like BMWs and top-end Teslas models are between USD 12,500- USD 20,000.

# **`Pie Chart`**

In [ ]:
plt.figure(figsize=(10, 6))

df['company'].value_counts().plot(kind='pie', autopct='%1.1f%%')
plt.title('Market Share by Company')
plt.ylabel('')
plt.tight_layout()
plt.savefig('pie_chart.png')

plt.show()

Here, Tesla and Ford are the big players, Tesla's leading with almost half the market at 49%, Ford's at 44.5%, while BMW's taking on a smaller portion 6.5%.

# **`Categorical Heatmap`**

Creating two related heatmaps side by side

- Company vs type
- Company vs rating

In [ ]:
# Categorical Heatmap
plt.figure(figsize=(12, 8))

plt.subplot(1, 2, 1)

# company vs type
basic_heatmap = pd.crosstab(df['company'], df['type'])
sns.heatmap(basic_heatmap,
            annot=True,
            fmt='d',
            cmap='Blues',
            cbar_kws={'label': 'Number of Cars'})
plt.title('Cars by Company and Type')

plt.subplot(1, 2, 2)

# company vs ratings
rating_heatmap = pd.crosstab(df['company'], df['rating'])
sns.heatmap(rating_heatmap,
            annot=True,
            fmt='d',
            cmap='YlOrRd',
            cbar_kws={'label': 'Number of Cars'})
plt.title('Cars by Company and Rating')

plt.tight_layout()
plt.savefig('comprehensive_heatmap.png')

plt.show()

Here, the left heatmap shows **Tesla** exclusively in electric **4,896 units** and **Ford** in non-electric **4,451 units**, while **BMW** having **653** non-electric vehicles.

Wherease, the right heatmap, reveals that most cars rate **1-2** stars across all brands, with decreasing frequencies for higher ratings.

# **`Generate Analysis Report`**

In [ ]:
print("\n# Data Analysis Documentation")

print("\n## Introduction")
print(f"This dataset contains information about {len(df)} cars from various manufacturers listed on an auction website. "
      f"The data includes both electric and non-electric vehicles from {df['company'].nunique()} different companies.")

print("\n## Data Types:")
print("- unique_id: Unique identifier for each car")
print("- date: Manufacturing date (datetime)")
print("- model: Car model name (categorical)")
print("- company: Manufacturer name (categorical)")
print("- type: Electric or non-Electric (categorical)")
print("- rating: Customer rating 1-5 (ordinal)")
print("- price: Car price in USD (numerical)")
print("- mileage: Car mileage in miles (numerical)")

# **`Data Analysis Results`**

In [ ]:
print("\n## Data Trends Analysis:")

print("\n### 1. Bar Chart Analysis:")
print("Average price comparison between manufacturers:")
print(avg_price_by_company)

print("\n### 2. Box Plot Analysis:")
print("Price distribution statistics by company:")
print(df.groupby('company')['price'].describe())

print("\n### 3. Line Plot Analysis:")
print("Monthly price trends:")
print(monthly_prices)

print("\n### 4. Scatter Plot Analysis:")
print("Correlation between price and mileage:")
print(f"Correlation coefficient: {df['price'].corr(df['mileage']):.2f}")

### **`Detailed analysis report.`**

Now, let's document our dataset structure, presenting key findings from our visualizations, and providing statistical insights about car prices, ratings, and trends.

The analysis report concludes with practical recommendations for future data collection and analysis improvements.

In [ ]:
print("\n## Conclusion:")

avg_price = df['price'].mean()
avg_rating = df['rating'].mean()

print(f"The analysis of {len(df)} cars reveals an average price of ${avg_price:,.2f} "
      f"and an average rating of {avg_rating:.1f}/5. "
      f"The data shows distinct patterns in pricing and preferences across different manufacturers.")

print("\n## Recommendations:")
print("To improve future analyses, consider:")
print("1. Including more detailed vehicle specifications")
print("2. Adding historical service records")
print("3. Including more manufacturers for broader market coverage")
print("4. Adding seasonal factors that might affect prices")
print("5. Including geographical data to analyze regional price variations")